src/main/resources/schemas/translationUtility.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://eai.officedepot.com/service/TranslationUtility"
	xmlns:tns="http://eai.officedepot.com/service/TranslationUtility"
	elementFormDefault="qualified">

	<element name="translationLookupRequest" type="tns:TranslationLookupRequestType" />
	<element name="translationLookupResponse" type="tns:TranslationLookupResponseType" />
	<element name="bulkTranslationLookupResponse" type="tns:BulkTranslationLookupResponseType" />
	<element name="bulkTranslationLookupRequest" type="tns:BulkTranslationLookupRequestType" />
	<element name="translationUpsertRequest" type="tns:TranslationUpsertRequestType" />
	<element name="translationUpsertResponse" type="tns:TranslationUpsertResponseType" />
	<element name="bulkTranslationUpsertRequest" type="tns:BulkTranslationUpsertRequestType" />
	<element name="bulkTranslationUpsertResponse" type="tns:BulkTranslationUpsertResponseType" />
	<element name="translationDeleteRequest" type="tns:TranslationDeleteRequestType" />
	<element name="translationDeleteResponse" type="tns:TranslationDeleteResponseType" />
  <!--4 new operations -->
	<element name="oDCOATranslationOldToNewLookupRequest"   type="tns:ODCOATranslationOldToNewLookupRequestType" />
	<element name="oDCOATranslationOldToNewLookupResponse"  type="tns:ODCOATranslationOldToNewLookupResponseType" />
	<element name="oDCOATranslationNewToOldLookupRequest"   type="tns:ODCOATranslationNewToOldLookupRequestType" />
	<element name="oDCOATranslationNewToOldLookupResponse"  type="tns:ODCOATranslationNewToOldLookupResponseType" />
	<element name="cCCOATranslationOldToNewLookupRequest"   type="tns:CCCOATranslationOldToNewLookupRequestType" />
	<element name="cCCOATranslationOldToNewLookupResponse"  type="tns:CCCOATranslationOldToNewLookupResponseType" />
	<element name="cCCOATranslationNewToOldLookupRequest"   type="tns:CCCOATranslationNewToOldLookupRequestType" />
	<element name="cCCOATranslationNewToOldLookupResponse"  type="tns:CCCOATranslationNewToOldLookupResponseType" />

  <!--4 new bulk operations -->
    <element name="bulkCCCCOATranslationOldToNewLookupRequest"  type="tns:BulkCCCOATranslationOldToNewLookupRequestType" />
	<element name="bulkCCCCOATranslationOldToNewLookupResponse" type="tns:BulkCCCOATranslationOldToNewLookupResponseType" />
	<element name="bulkCCCOATranslationNewToOldLookupRequest"  type="tns:BulkCCCOATranslationNewToOldLookupRequestType" />
	<element name="bulkCCCOATranslationNewToOldLookupResponse" type="tns:BulkCCCOATranslationNewToOldLookupResponseType" />
	<element name="bulkODCOATranslationOldToNewLookupRequest"  type="tns:BulkODCOATranslationOldToNewLookupRequestType" />
	<element name="bulkODCOATranslationOldToNewLookupResponse" type="tns:BulkODCOATranslationOldToNewLookupResponseType" />
	<element name="bulkODCOATranslationNewToOldLookupRequest"  type="tns:BulkODCOATranslationNewToOldLookupRequestType" />
	<element name="bulkODCOATranslationNewToOldLookupResponse" type="tns:BulkODCOATranslationNewToOldLookupResponseType" />
   
	<complexType name="ODCOATranslationOldToNewLookupRequestType">
		<annotation>
			<documentation>OD COA Old To New Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="future" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="ODCOATranslationOldToNewLookupResponseType">
		<annotation>
			<documentation>OD COA Old To New Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="ODCOATranslationNewToOldLookupRequestType">
		<annotation>
			<documentation>OD COA New To Old Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="ODCOATranslationNewToOldLookupResponseType">
		<annotation>
			<documentation>OD COA New To Old Response</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="future" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CCCOATranslationOldToNewLookupRequestType">
		<annotation>
			<documentation>CC COA Old To New Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="legal_entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="geo" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="product" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CCCOATranslationOldToNewLookupResponseType">
		<annotation>
			<documentation>CC COA Old To New Response</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CCCOATranslationNewToOldLookupRequestType">
		<annotation>
			<documentation>CC COA New To Old Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="legal_entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="geo" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="product" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CCCOATranslationNewToOldLookupResponseType">
		<annotation>
			<documentation>CC COA New To Old Response</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="BulkCCCOATranslationOldToNewLookupRequestType">
		<annotation>
			<documentation>Bulk CC COA Old To New Lookup Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:CcCoaOldToNewCriteriaType"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="BulkCCCOATranslationOldToNewLookupResponseType">
		<annotation>
			<documentation>Bulk CC COA Old To New Lookup Response</documentation>
		</annotation>
		<sequence>
			<element name="results" type="tns:CcCoaOldToNewResultType" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="BulkCCCOATranslationNewToOldLookupRequestType">
		<annotation>
			<documentation>Bulk CC COA New To Old Lookup Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:CcCoaNewToOldCriteriaType"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="BulkCCCOATranslationNewToOldLookupResponseType">
		<annotation>
			<documentation>Bulk CC COA New To Old Lookup Response</documentation>
		</annotation>
		<sequence>
			<element name="results" type="tns:CcCoaNewToOldResultType" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="BulkODCOATranslationOldToNewLookupRequestType">
		<annotation>
			<documentation>Bulk OD COA Old To New Lookup Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:OdCoaOldToNewCriteriaType"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="BulkODCOATranslationOldToNewLookupResponseType">
		<annotation>
			<documentation>Bulk OD COA Old To New Lookup Response</documentation>
		</annotation>
		<sequence>
			<element name="results" type="tns:OdCoaOldToNewResultType" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="BulkODCOATranslationNewToOldLookupRequestType">
		<annotation>
			<documentation>Bulk OD COA New To Old Lookup Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:OdCoaNewToOldCriteriaType"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	
	<complexType name="BulkODCOATranslationNewToOldLookupResponseType">
		<annotation>
			<documentation>Bulk OD COA New To Old Lookup Response</documentation>
		</annotation>
		<sequence>
			<element name="results" type="tns:OdCoaNewToOldResultType" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="TranslationLookupRequestType">
		<annotation>
			<documentation>Translation lookup Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:CriteriaType"
				minOccurs="1" maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="BulkTranslationLookupRequestType">
		<annotation>
			<documentation>Translation lookup Request</documentation>
		</annotation>
		<sequence>
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:CriteriaType"
				minOccurs="1" maxOccurs="unbounded" />

		</sequence>
	</complexType>

	<complexType name="TranslationUpsertRequestType">
		<annotation>
			<documentation>Translation Upsert Request</documentation>
		</annotation>
		<sequence>
			<!-- <element name="traslationHeaderType" type="tns:TraslationHeaderType" 
				minOccurs="1" maxOccurs="1" /> -->
			<element name="upsertRequest" type="tns:UpsertRequestType"
				minOccurs="1" maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="TranslationDeleteRequestType">
		<annotation>
			<documentation>Translation Delete Request</documentation>
		</annotation>
		<sequence>
			<!-- <element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" /> -->
			<element name="translate_value_id" type="string" minOccurs="0"
					maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="BulkTranslationUpsertRequestType">
		<annotation>
			<documentation>Bulk Translation Upsert Request</documentation>
		</annotation>
		<sequence>
			<!-- <element name="traslationHeaderType" type="tns:TraslationHeaderType" 
				minOccurs="1" maxOccurs="1" /> -->
			<element name="upsertRequest" type="tns:UpsertRequestType"
				minOccurs="1" maxOccurs="unbounded" />

		</sequence>
	</complexType>

	<complexType name="TranslationLookupResponseType">
		<annotation>
			<documentation>Translation lookup Response</documentation>
		</annotation>
		<sequence>
			<element name="result" type="tns:ResultType" minOccurs="1"
				maxOccurs="1" />
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="BulkTranslationLookupResponseType">
		<annotation>
			<documentation>BUlk Translation lookup Response</documentation>
		</annotation>
		<sequence>
			<element name="results" type="tns:ResultType" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="header" type="tns:HeaderType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TranslationUpsertResponseType">
		<annotation>
			<documentation>Translation Upsert Response</documentation>
		</annotation>
		<sequence>
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TranslationDeleteResponseType">
		<annotation>
			<documentation>Translation Delete Response</documentation>
		</annotation>
		<sequence>
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="BulkTranslationUpsertResponseType">
		<annotation>
			<documentation>Bulk Translation Upsert Response</documentation>
		</annotation>
		<sequence>
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="HeaderType">
		<annotation>
			<documentation>Header type</documentation>
		</annotation>

		<sequence>
			<element name="transactionId" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="consumer" type="string" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="TraslationHeaderType">
		<annotation>
			<documentation>Upsert Header type</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:HeaderType">
				<sequence>
					<element name="translate_value_id" type="string"
						minOccurs="0" maxOccurs="1" />
					<element name="obsolete_flag" type="string" minOccurs="0"
						maxOccurs="1" />
					<element name="translation_enabled_flag" type="string"
						minOccurs="0" maxOccurs="1" />
					<element name="translation_start_date_active" type="string"
						minOccurs="0" maxOccurs="1" />
					<element name="translation_end_date_active" type="string"
						minOccurs="0" maxOccurs="1" />
					<element name="trans_value_enabled_flag" type="string"
						minOccurs="0" maxOccurs="1" />
					<element name="trans_value_start_date_active" type="string"
						minOccurs="0" maxOccurs="1" />
					<element name="trans_value_end_date_active" type="string"
						minOccurs="0" maxOccurs="1" />
					<element name="created_by" type="string" minOccurs="0"
						maxOccurs="1" />
					<element name="creation_date" type="string" minOccurs="0"
						maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CriteriaType">
		<annotation>
			<documentation>Criteria type</documentation>
		</annotation>

		<sequence>
			<element name="translationName" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="translationDate" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField1" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField2" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField3" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField4" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField5" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField6" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField7" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField8" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField9" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField10" type="string" minOccurs="0"
				maxOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="CcCoaOldToNewCriteriaType">
		<annotation>
			<documentation>CcCoaOldToNew Criteria type</documentation>
		</annotation>

		<sequence>
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="legal_entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="geo" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="product" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CcCoaNewToOldCriteriaType">
		<annotation>
			<documentation>CcCoaNewToOld Criteria type</documentation>
		</annotation>

		<sequence>
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="legal_entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="geo" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="product" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="OdCoaOldToNewCriteriaType">
		<annotation>
			<documentation>OdCoaOldToNew Criteria type</documentation>
		</annotation>

		<sequence>
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="future" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="OdCoaNewToOldCriteriaType">
		<annotation>
			<documentation>OdCoaNewToOld Criteria type</documentation>
		</annotation>

		<sequence>
			<element name="translate_date" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0" maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="UpsertRequestType">
		<annotation>
			<documentation>Upsert Request type</documentation>
		</annotation>

		<sequence>
			<element name="traslationHeaderType"
				type="tns:TraslationHeaderType" minOccurs="1" maxOccurs="1" />
			<element name="translationName" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="translationDate" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField1" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField2" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField3" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField4" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField5" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField6" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField7" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField8" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField9" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="sourceField10" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField1" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField2" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField3" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField4" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField5" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField6" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField7" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField8" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField9" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField10" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField11" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField12" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField13" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField14" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField15" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField16" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField17" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField18" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField19" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField20" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField21" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField22" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField23" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField24" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField25" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField26" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField27" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField28" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField29" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField30" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ResultType">
		<annotation>
			<documentation>Result type</documentation>
		</annotation>

		<sequence>
			<element name="result" type="tns:ResultDocType" minOccurs="0"
				maxOccurs="1" />
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:CriteriaType"
				minOccurs="1" maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CcCoaOldToNewResultType">
		<annotation>
			<documentation>CC COA Old To New Result type</documentation>
		</annotation>

		<sequence>
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:CcCoaOldToNewCriteriaType"
				minOccurs="1" maxOccurs="1" />
			<element name="result" type="tns:CcCoaOldToNewResultDocType" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="CcCoaNewToOldResultType">
		<annotation>
			<documentation>CC COA New To Old Result type</documentation>
		</annotation>

		<sequence>
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:CcCoaNewToOldCriteriaType"
				minOccurs="1" maxOccurs="1" />
			<element name="result" type="tns:CcCoaNewToOldResultDocType" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="OdCoaOldToNewResultType">
		<annotation>
			<documentation>CC COA Old To New Result type</documentation>
		</annotation>

		<sequence>
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:OdCoaOldToNewCriteriaType"
				minOccurs="1" maxOccurs="1" />
			<element name="result" type="tns:OdCoaOldToNewResultDocType" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="OdCoaNewToOldResultType">
		<annotation>
			<documentation>CC COA New To Old Result type</documentation>
		</annotation>

		<sequence>
			<element name="status" type="tns:StatusType" minOccurs="1"
				maxOccurs="1" />
			<element name="criteria" type="tns:OdCoaNewToOldCriteriaType"
				minOccurs="1" maxOccurs="1" />
			<element name="result" type="tns:OdCoaNewToOldResultDocType" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="StatusType">
		<annotation>
			<documentation>Status type</documentation>
		</annotation>

		<sequence>
			<element name="status" type="string" minOccurs="1"
				maxOccurs="1" />
			<element name="statusCode" type="int" minOccurs="0"
				maxOccurs="1" />
			<element name="statusDescription" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>

	<!-- <complexType name="COAStatusType">
		<annotation>
			<documentation>COA Status type</documentation>
		</annotation>

		<sequence>
			<element name="status" type="string" minOccurs="1"
				maxOccurs="1" />
			<element name="statusCode" type="int" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType> -->
	
	<complexType name="ResultDocType">
		<annotation>
			<documentation>Result Doc type</documentation>
		</annotation>

		<sequence>
			<element name="targetField1" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField2" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField3" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField4" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField5" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField6" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField7" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField8" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField9" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField10" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField11" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField12" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField13" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField14" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField15" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField16" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField17" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField18" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField19" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField20" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField21" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField22" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField23" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField24" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField25" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField26" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField27" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField28" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField29" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="targetField30" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CcCoaOldToNewResultDocType">
		<annotation>
			<documentation>CC COA Old To New ResultDoc type</documentation>
		</annotation>

		<sequence>
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="CcCoaNewToOldResultDocType">
		<annotation>
			<documentation>CC COA New To Old ResultDoc type</documentation>
		</annotation>

		<sequence>
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="OdCoaOldToNewResultDocType">
		<annotation>
			<documentation>OD COA Old To New ResultDoc type</documentation>
		</annotation>

		<sequence>
			<element name="entity" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
	
	<complexType name="OdCoaNewToOldResultDocType">
		<annotation>
			<documentation>OD COA New To Old ResultDoc type</documentation>
		</annotation>

		<sequence>
			<element name="company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="cost_center" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="account" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="location" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="inter_company" type="string" minOccurs="0"
				maxOccurs="1" />
			<element name="lob" type="string" minOccurs="0" maxOccurs="1" />
			<element name="future" type="string" minOccurs="0"
				maxOccurs="1" />
		</sequence>
	</complexType>
</schema>