src/main/resources/wsdl/TranslationUtility.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tus="http://eai.officedepot.com/translationUtilityService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="translationUtilityService" targetNamespace="http://eai.officedepot.com/translationUtilityService/"
	xmlns:xsd1="http://eai.officedepot.com/service/TranslationUtility">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://eai.officedepot.com/service/TranslationUtility"
				schemaLocation="../schemas/translationUtility.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="translationLookUpRequestRequest">
		<wsdl:part element="xsd1:translationLookupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translationLookUpRequestResponse">
		<wsdl:part element="xsd1:translationLookupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationLookUpRequestRequest">
		<wsdl:part name="parameters" element="xsd1:bulkTranslationLookupRequest" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationLookUpRequestResponse">
		<wsdl:part name="parameters" element="xsd1:bulkTranslationLookupResponse" />
	</wsdl:message>
	<wsdl:message name="translationUpsertRequestRequest">
		<wsdl:part element="xsd1:translationUpsertRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translationUpsertRequestResponse">
		<wsdl:part element="xsd1:translationUpsertResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationUpsertRequestRequest">
		<wsdl:part name="parameters" element="xsd1:bulkTranslationUpsertRequest" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationUpsertRequestResponse">
		<wsdl:part name="parameters" element="xsd1:bulkTranslationUpsertResponse" />
	</wsdl:message>

  <wsdl:message name="translationDeleteRequestRequest">
		<wsdl:part element="xsd1:translationDeleteRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translationDeleteRequestResponse">
		<wsdl:part element="xsd1:translationDeleteResponse" name="parameters" />
  </wsdl:message>
  
  <wsdl:message name="oDCOATranslationOldToNewLookupRequest">
		<wsdl:part name="parameters" element="xsd1:oDCOATranslationOldToNewLookupRequest" />
	</wsdl:message>
  
	<wsdl:message name="oDCOATranslationOldToNewLookupResponse">
		<wsdl:part name="parameters" element="xsd1:oDCOATranslationOldToNewLookupResponse" />
	</wsdl:message>
	
	<wsdl:message name="oDCOATranslationNewToOldLookupRequest">
		<wsdl:part name="parameters" element="xsd1:oDCOATranslationNewToOldLookupRequest" />
	</wsdl:message>
	<wsdl:message name="oDCOATranslationNewToOldLookupResponse">
		<wsdl:part name="parameters" element="xsd1:oDCOATranslationNewToOldLookupResponse" />
	</wsdl:message>
	
	<wsdl:message name="cCCOATranslationOldToNewLookupRequest">
		<wsdl:part name="parameters" element="xsd1:cCCOATranslationOldToNewLookupRequest" />
	</wsdl:message>
	<wsdl:message name="cCCOATranslationOldToNewLookupResponse">
		<wsdl:part name="parameters" element="xsd1:cCCOATranslationOldToNewLookupResponse" />
	</wsdl:message>
	
	<wsdl:message name="cCCOATranslationNewToOldLookupRequest">
		<wsdl:part name="parameters" element="xsd1:cCCOATranslationNewToOldLookupRequest" />
	</wsdl:message>
	<wsdl:message name="cCCOATranslationNewToOldLookupResponse">
		<wsdl:part name="parameters" element="xsd1:cCCOATranslationNewToOldLookupResponse" />
	</wsdl:message>
	
	<wsdl:portType name="translationUtilityService">
		<wsdl:operation name="translationLookUpRequest">
			<wsdl:input message="tus:translationLookUpRequestRequest" />
			<wsdl:output message="tus:translationLookUpRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationLookUpRequest">
			<wsdl:input message="tus:bulkTranslationLookUpRequestRequest"></wsdl:input>
			<wsdl:output message="tus:bulkTranslationLookUpRequestResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="translationUpsertReq">
			<wsdl:input message="tus:translationUpsertRequestRequest" />
			<wsdl:output message="tus:translationUpsertRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationUpsertReq">
			<wsdl:input message="tus:bulkTranslationUpsertRequestRequest"></wsdl:input>
			<wsdl:output message="tus:bulkTranslationUpsertRequestResponse"></wsdl:output>
		</wsdl:operation>

    <wsdl:operation name="translationDeleteReq">
			<wsdl:input message="tus:translationDeleteRequestRequest" />
			<wsdl:output message="tus:translationDeleteRequestResponse" />
    </wsdl:operation>
    <!--New 4 operations  -->
		<wsdl:operation name="oDCOATranslationOldToNewLookupReq">
			<wsdl:input message="tus:oDCOATranslationOldToNewLookupRequest"></wsdl:input>
			<wsdl:output message="tus:oDCOATranslationOldToNewLookupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="oDCOATranslationNewToOldLookupReq">
			<wsdl:input message="tus:oDCOATranslationNewToOldLookupRequest"></wsdl:input>
			<wsdl:output message="tus:oDCOATranslationNewToOldLookupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cCCOATranslationOldToNewLookupReq">
			<wsdl:input message="tus:cCCOATranslationOldToNewLookupRequest"></wsdl:input>
			<wsdl:output message="tus:cCCOATranslationOldToNewLookupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cCCOATranslationNewToOldLookupReq">
			<wsdl:input message="tus:cCCOATranslationNewToOldLookupRequest"></wsdl:input>
			<wsdl:output message="tus:cCCOATranslationNewToOldLookupResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="translationUtilityServiceSOAP" type="tus:translationUtilityService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="translationLookUpRequest">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/translationLookUpRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationLookUpRequest">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/bulkTranslationLookUpRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="translationUpsertReq">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/translationUpsertRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationUpsertReq">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/bulkTranslationUpsertRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="translationDeleteReq">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/translationDeleteRequest" />
      <wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    <!--4 new operations -->
		<wsdl:operation name="oDCOATranslationOldToNewLookupReq">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/oDCOATranslationOldToNewLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="oDCOATranslationNewToOldLookupReq">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/oDCOATranslationNewToOldLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cCCOATranslationOldToNewLookupReq">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/cCCOATranslationOldToNewLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="cCCOATranslationNewToOldLookupReq">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/cCCOATranslationNewToOldLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="translationUtilityService">
		<wsdl:port binding="tus:translationUtilityServiceSOAP" name="translationUtilityServiceSOAP">
			<soap:address
				location="https://dev-internal.odplabs.com/services/dev-translation-utility-service/eaiapi/translationUtility" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
