src/main/resources/wsdl/TranslationUtility.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tus="http://eai.officedepot.com/translationUtilityService/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="translationUtilityService" targetNamespace="http://eai.officedepot.com/translationUtilityService/"
	xmlns:xsd1="http://eai.officedepot.com/service/TranslationUtility">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://eai.officedepot.com/service/TranslationUtility"
				schemaLocation="../schemas/translationUtility.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="translationLookUpRequestRequest">
		<wsdl:part element="xsd1:TranslationLookupRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translationLookUpRequestResponse">
		<wsdl:part element="xsd1:TranslationLookupResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationLookUpRequestRequest">
		<wsdl:part name="parameters" element="xsd1:BulkTranslationLookupRequest" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationLookUpRequestResponse">
		<wsdl:part name="parameters" element="xsd1:BulkTranslationLookupResponse" />
	</wsdl:message>
	<wsdl:message name="translationUpsertRequestRequest">
		<wsdl:part element="xsd1:TranslationUpsertRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translationUpsertRequestResponse">
		<wsdl:part element="xsd1:TranslationUpsertResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationUpsertRequestRequest">
		<wsdl:part name="parameters" element="xsd1:BulkTranslationUpsertRequest" />
	</wsdl:message>
	<wsdl:message name="bulkTranslationUpsertRequestResponse">
		<wsdl:part name="parameters" element="xsd1:BulkTranslationUpsertResponse" />
	</wsdl:message>

  <wsdl:message name="translationDeleteRequestRequest">
		<wsdl:part element="xsd1:TranslationDeleteRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translationDeleteRequestResponse">
		<wsdl:part element="xsd1:TranslationDeleteResponse" name="parameters" />
  </wsdl:message>
  
  <wsdl:message name="ODCOATranslationOldToNewLookupRequest">
		<wsdl:part name="parameters" element="xsd1:ODCOATranslationOldToNewLookupRequest" />
	</wsdl:message>
  
	<wsdl:message name="ODCOATranslationOldToNewLookupResponse">
		<wsdl:part name="parameters" element="xsd1:ODCOATranslationOldToNewLookupResponse" />
	</wsdl:message>
	
	<wsdl:message name="ODCOATranslationNewToOldLookupRequest">
		<wsdl:part name="parameters" element="xsd1:ODCOATranslationNewToOldLookupRequest" />
	</wsdl:message>
	<wsdl:message name="ODCOATranslationNewToOldLookupResponse">
		<wsdl:part name="parameters" element="xsd1:ODCOATranslationNewToOldLookupResponse" />
	</wsdl:message>
	
	<wsdl:message name="CCCOATranslationOldToNewLookupRequest">
		<wsdl:part name="parameters" element="xsd1:CCCOATranslationOldToNewLookupRequest" />
	</wsdl:message>
	<wsdl:message name="CCCOATranslationOldToNewLookupResponse">
		<wsdl:part name="parameters" element="xsd1:CCCOATranslationOldToNewLookupResponse" />
	</wsdl:message>
	
	<wsdl:message name="CCCOATranslationNewToOldLookupRequest">
		<wsdl:part name="parameters" element="xsd1:CCCOATranslationNewToOldLookupRequest" />
	</wsdl:message>
	<wsdl:message name="CCCOATranslationNewToOldLookupResponse">
		<wsdl:part name="parameters" element="xsd1:CCCOATranslationNewToOldLookupResponse" />
	</wsdl:message>
	
	<wsdl:portType name="translationUtilityService">
		<wsdl:operation name="translationLookUpRequest">
			<wsdl:input message="tus:translationLookUpRequestRequest" />
			<wsdl:output message="tus:translationLookUpRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationLookUpRequest">
			<wsdl:input message="tus:bulkTranslationLookUpRequestRequest"></wsdl:input>
			<wsdl:output message="tus:bulkTranslationLookUpRequestResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="translationUpsertRequest">
			<wsdl:input message="tus:translationUpsertRequestRequest" />
			<wsdl:output message="tus:translationUpsertRequestResponse" />
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationUpsertRequest">
			<wsdl:input message="tus:bulkTranslationUpsertRequestRequest"></wsdl:input>
			<wsdl:output message="tus:bulkTranslationUpsertRequestResponse"></wsdl:output>
		</wsdl:operation>

    <wsdl:operation name="translationDeleteRequest">
			<wsdl:input message="tus:translationDeleteRequestRequest" />
			<wsdl:output message="tus:translationDeleteRequestResponse" />
    </wsdl:operation>
    <!--New 4 operations  -->
		<wsdl:operation name="ODCOATranslationOldToNewLookup">
			<wsdl:input message="tus:ODCOATranslationOldToNewLookupRequest"></wsdl:input>
			<wsdl:output message="tus:ODCOATranslationOldToNewLookupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ODCOATranslationNewToOldLookup">
			<wsdl:input message="tus:ODCOATranslationNewToOldLookupRequest"></wsdl:input>
			<wsdl:output message="tus:ODCOATranslationNewToOldLookupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CCCOATranslationOldToNewLookup">
			<wsdl:input message="tus:CCCOATranslationOldToNewLookupRequest"></wsdl:input>
			<wsdl:output message="tus:CCCOATranslationOldToNewLookupResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CCCOATranslationNewToOldLookup">
			<wsdl:input message="tus:CCCOATranslationNewToOldLookupRequest"></wsdl:input>
			<wsdl:output message="tus:CCCOATranslationNewToOldLookupResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="translationUtilityServiceSOAP" type="tus:translationUtilityService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="translationLookUpRequest">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/translationLookUpRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationLookUpRequest">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/bulkTranslationLookUpRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="translationUpsertRequest">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/translationUpsertRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="bulkTranslationUpsertRequest">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/bulkTranslationUpsertRequest" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="translationDeleteRequest">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/translationUpsertRequest" />
      <wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
    <!--4 new operations -->
		<wsdl:operation name="ODCOATranslationOldToNewLookup">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/ODCOATranslationOldToNewLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ODCOATranslationNewToOldLookup">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/ODCOATranslationNewToOldLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CCCOATranslationOldToNewLookup">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/CCCOATranslationOldToNewLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CCCOATranslationNewToOldLookup">
			<soap:operation
				soapAction="http://eai.officedepot.com/translationUtilityService/CCCOATranslationNewToOldLookup" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="translationUtilityService">
		<wsdl:port binding="tus:translationUtilityServiceSOAP" name="translationUtilityServiceSOAP">
			<soap:address
				location="https://dev-internal.odplabs.com/services/dev-translation-utility-service/eaiapi/translationUtility" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
